@font-face {
    font-family: "Antonio-Regular";
    font-weight: 400;
    src: url(/public/fonts/Antonio-Regular.ttf) format("ttf");
}

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');
/* 
@font-face {
    font-family: "League-Spartan-Bold";
    font-weight: 700;
    src: url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
}

@font-face {
    font-family: "League-Spartan-Regular";
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400&display=swap');
} */